node_modules
.next
out
dist
.env
.env.local
.DS_Store
*.log
tmp
vendor
backend/data/

# Local Netlify folder
.netlify

.vercel
.env*
import.env

# Android & IDE
.gradle/
.idea/
backend/keepalive

.env*
